stat-principale::part(stat-box), :host {
   --fdcn-caracter-background-color: var( --background-color,mediumturquoise);
   --fdcn-caracter-border-color: var(--border-color,blue);
   --fdcn-caracter-text-color: var(--fdcn-caracter-border-color);
   --stat-principale-border-color: var(--fdcn-caracter-border-color);
   --stat-principale-text-color: var(--fdcn-caracter-text-color);
   --stat-principale-background-color: var(--fdcn-caracter-background-color);
}

::part(stat) {
    display: inline-flex;
    flex-wrap: wrap;
    border: 10px solid var(--fdcn-caracter-border-color);
}



.a {
    display: inline-flex;
    flex-wrap: wrap;
    width: 200%;
    flex-grow: 2;
    flex-shrink: 1;
}
.b {
    flex-grow: 1;
    flex-shrink: 2;
    width: 100%;
 }

 .b>div {
    margin: 10px;
    min-width: 250px;
    border: 1px solid;
    border-color: var(--stat-principale-border-color);
    background-color: var(--stat-principale-background-color);
    color: var(--stat-principale-text-color);
    padding: 5px;
    border-radius: 5px;
 }

 h1 {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-color: var(--stat-principale-border-color);
}

.stat-name {
    font-style: italic;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.stat-value {
    font-size: 1.2em;
    padding: 0.25em;
}

.sub-stat {
    display: flex;
    flex-direction: column;
    align-items: stretch
}
.sub-stat>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}
.sub-stat>div:not(:last-child) {
    border-bottom: 1px solid;
    border-color:var(--stat-principale-border-color);
}