<template id="stat-principale">  <!-- used for fdcn & cdsi-->
    <div part="stat-box">
        <h1 class="name-element">unset</h1>
        <div class="stat">
            <div class="sub-stat">
                <div><span class="stat-name">Base</span><span class="stat-value base-element">unset</span></div>
                <div><span class="stat-name">Carac.</span><span class="stat-value carac-element">unset</span></div>
                <div><span class="stat-name">Matériel</span><span class="stat-value materiel-element">unset</span></div>
            </div>
            <div class="stat-total"><span class="stat-name">Total</span><span class="stat-value total-element">unset</span></div>
        </div>
        <div class="bonus-element">
            <slot>
                <div>
                    <span class="bonus-label">+0 </span>
                    <input type="range" min="0" max="8" value="0" step="1" class="bonus-stat" list="tickmarks"/>
                    <datalist id="tickmarks">
                        <option value="0" label="0"></option>
                        <option value="1" label="1"></option>
                        <option value="2" label="2"></option>
                        <option value="3" label="3"></option>
                        <option value="4" label="4"></option>
                        <option value="5" label="5"></option>
                        <option value="6" label="6"></option>
                        <option value="7" label="7"></option>
                        <option value="8" label="8"></option>
                    </datalist>
                </div>
            </slot>
        </div>
    </div>
</template>