:host {
    --border-color: blue;
    --text-color: red;
    --background-color: green;
    --toto: pink;
}
:root {
    
    --border-color: mediumturquoise;
    --text-color: purple;
    --background-color: orange;
}
.stat {
    color: mediumturquoise;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid var(--toto);
}